<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulador Ambiental</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>🌎 Simulador de Inundaciones y Temperatura</h1>

    <div class="panel">
        <button onclick="iniciarSimulacion()">
            Simular Inundación 🌊
        </button>
        <button onclick="simularTemperatura()">
            Simular Temperatura 🌡️
        </button>
        <button onclick="verRiesgo()">
            Evaluar Riesgo ⚠️
        </button>
    </div>
        <div id="grid"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>