<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulador Ambiental</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
</head>

<body>
    <h1>🌎 Simulador de Inundaciones y Temperatura</h1>
    <div class="panel">
        <button onclick="simularClimaReal()">
            Simular clima real 🌎
        </button>
        <button onclick="iniciarInundacion()">
        Simular inundación real
        </button>
        <button onclick="simularTemperatura()">
            Simular Temperatura 🌡️
        </button>
        <button onclick="verRiesgo()">
            Evaluar Riesgo ⚠️
        </button>
        <h3 id="reloj">
            Hora simulada: 0
        </h3>
    </div>
    <div id="map"></div>
    <div id="clima"></div>
    <button onclick="obtenerClimaActual()">Ver clima actual</button>
    <div class="leyenda">
        <h3>Nivel de riesgo</h3>
        <p>
            <span class="color verde"></span>
            Normal
        </p>
        <p>
            <span class="color azul"></span>
            Inundación
        </p>
        <p>
            <span class="color rojo"></span>
            Calor extremo
        </p>
        <p>
            <span class="color morado"></span>
            Riesgo crítico
        </p>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>